@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?6a874256127cfb440307968aaaade824") format("truetype"),
url("./flaticon.woff?6a874256127cfb440307968aaaade824") format("woff"),
url("./flaticon.woff2?6a874256127cfb440307968aaaade824") format("woff2"),
url("./flaticon.eot?6a874256127cfb440307968aaaade824#iefix") format("embedded-opentype"),
url("./flaticon.svg?6a874256127cfb440307968aaaade824#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cards:before {
    content: "\f101";
}
.flaticon-support:before {
    content: "\f102";
}
.flaticon-life-insurance:before {
    content: "\f103";
}
